@{
    ViewData["Title"] = "Learning";
}
<div class="text-center">
    <h1 class="display-6">
        If you are not willing to learn, no one can help you.<br/>
        If you are determined to learn, no one can stop you.
    </h1>
</div>

<p>
    <br/>
    <pre>
    &#10004; Jun 2021 - AWS Certified Cloud Practitioner (CLF)
    &#10004; Nov 2021 - AWS Certified Solutions Architect - Associate (SAA)
    &#10004; Dec 2021 - Microsoft Azure Fundamentals (AZ-900)
------------------------------------------------------------------------------------
    2022 RGB &#9654; <span style="color: green; ">The green book for algorithm</span>
             - <span style="color: blue; ">The blue book for system design</span>
             - <span style="color: red; ">The red book for data intensive application design</span>
------------------------------------------------------------------------------------
    Apr 2022 - &#9654; AWS Certified Developer - Associate (DVA)
    May 2022 - AWS Certified SysOps Administrator - Associate (SOA)
    Nov 2022 - AWS Certified Security - Specialty (SCS)
------------------------------------------------------------------------------------
    2022 Others - Agile Project Management with Scrum
                &#9654; Spring Framework
                - gPRC
                &#9654; Docker
                - Kubernetes
                - PostgreSQL
                - Cyber Security
                - Ethical Hacking
                - Android and Kotlin
                - Web Developer Bootcamp
                - Node.js Developer
                - Machine Learning with Python and R
                - Artificial Intelligence
                ... ...</pre>
</p>