@{
    ViewData["Title"] = "Log";
}
<p>
    <pre>
------------------------------------------------------------------------------------
    2022-01-01 -
------------------------------------------------------------------------------------
    2021-12-31 - 
    2021-12-30 - Created this web site with Azure App Service.
                 Added the learning plan of 2022.
    </pre>
</p>