@{
    ViewData["Title"] = "Log";
}
<p>
<pre>
    2022-05-05 - Restarted AWS DVA training - Pass 5
                 - Integration & Messaging
    2022-05-04 - OMG, DID NOTHING!!!
    2022-05-03 - Restarted AWS DVA training - Pass 5
                 - Monitoring & Audit
    2022-05-02 - Restarted AWS DVA training - Pass 5
                 - CI/CD
                 - CloudFormation
    2022-05-01 - Restarted AWS DVA training - Pass 5
                 - Docker
                 - Elastic Beanstalk
------------------------------------------------------------------------------------
    2022-04-30 - Restarted AWS DVA training - Pass 5
                 - CloudFront
    2022-04-29 - OMG, DID NOTHING!!!    
    2022-04-28 - OMG, DID NOTHING!!!    
    2022-04-27 - Restarted AWS DVA training - Pass 5
                 - S3 Advanced
    2022-04-26 - Restarted AWS DVA training - Pass 5
                 - IAM Advanced
    2022-04-25 - Restarted AWS DVA training - Pass 5
                 - S3
    2022-04-24 - Restarted AWS DVA training - Pass 5  
                 - Route 53
                 - VPC
    2022-04-23 - OMG, DID NOTHING!!!  
    2022-04-22 - OMG, DID NOTHING!!!
    2022-04-21 - AWS X-Ray
    2022-04-20 - Restarted AWS DVA training - Pass 5  
                 - RDS + Aurora + ElastiCache
    2022-04-19 - OMG, DID NOTHING!!!
    2022-04-18 - Restarted AWS DVA training - Pass 5
                 - ELB + ASG
    2022-04-17 - Restarted AWS DVA training - Pass 5
                 - EC2
    <b>THE REST OF APRIL - OMG, DID NOTHING!!!</b>  
------------------------------------------------------------------------------------      
    <b>THE REST OF MARCH - OMG, DID NOTHING!!! AWS DVA training Pass 4 interrupted</b>
    2022-03-17 - OMG, DID NOTHING!!!
    2022-03-16 - AWS X-Ray
    2022-03-15 - AWS X-Ray
    2022-03-14 - AWS X-Ray
    2022-03-13 - AWS X-Ray
    2022-03-12 - AWS X-Ray
    2022-03-11 - AWS X-Ray
    2022-03-10 - AWS X-Ray 
    2022-03-09 - OMG, DID NOTHING!!! 
    2022-03-08 - OMG, DID NOTHING!!! 
    2022-03-07 - OMG, DID NOTHING!!!
    2022-03-06 - OMG, DID NOTHING!!! 
    2022-03-05 - Continued AWS DVA training
                 - Pass 4: Continued
               - AWS X-Ray
    2022-03-04 - AWS X-Ray
    2022-03-03 - AWS X-Ray
    2022-03-02 - Continued AWS DVA training
                 - Pass 4: Continued
               - AWS X-Ray
    2022-03-01 - OMG, DID NOTHING!!!
------------------------------------------------------------------------------------
    2022-02-28 - Continued AWS DVA training
                 - Pass 4: Continued
    2022-02-27 - Continued AWS DVA training
                 - Pass 4: Continued
    2022-02-26 - Continued AWS DVA training
                 - Pass 4: Continued
    2022-02-25 - Continued AWS DVA training
                 - Pass 4: Continued
    2022-02-24 - OMG, DID NOTHING!!!
    2022-02-23 - OMG, DID NOTHING!!!
    2022-02-22 - OMG, DID NOTHING!!!
    2022-02-21 - Continued AWS DVA training
                 - Pass 4: Started
               - Confluent Cloud
    2022-02-20 - OMG, DID NOTHING!!!
    2022-02-19 - OMG, DID NOTHING!!!
    2022-02-18 - OMG, DID NOTHING!!!
    2022-02-17 - OMG, DID NOTHING!!!
    2022-02-16 - OMG, DID NOTHING!!!
    2022-02-15 - API Gateway & CloudFront
    2022-02-14 - API Gateway & CloudFront
    2022-02-13 - API Gateway & CloudFront
    2022-02-12 - API Gateway & CloudFront
    2022-02-11 - OMG, DID NOTHING!!!
    2022-02-10 - OMG, DID NOTHING!!!
    2022-02-09 - OMG, DID NOTHING!!!
    2022-02-08 - AWS DVA Practice Exams (multi-sources #1 Completion)
               - Troubleshoot IAM & SES
               - https://leetcode.com/problems/longest-substring-without-repeating-characters/ (Continued)
    2022-02-07 - AWS DVA Practice Exams (multi-sources #1)
               - https://leetcode.com/problems/longest-substring-without-repeating-characters/
    2022-02-06 - AWS DVA Practice Exams (multi-sources #1)
               - https://leetcode.com/problems/add-two-numbers/
    2022-02-05 - AWS DVA Practice Exams (multi-sources #1)
               - Canary Deployment of Web Apps with CloudFront, S3, Lambda and Cookies
               - https://leetcode.com/problems/two-sum/
    2022-02-04 - Starting AWS DVA Practice Exams (multi-sources #1)
    2022-02-03 - Continued AWS DVA training
                 - Pass 3: Complete
    2022-02-02 - Continued AWS DVA training
                 - Pass 3: 83%
    2022-02-01 - Apache Kafka Series - Confluent Schema Registry & REST Proxy
               - Continued AWS DVA training
                 - Pass 3: 76%
------------------------------------------------------------------------------------
    2022-01-31 - Continued AWS DVA training
                 - Pass 3: 57%
    2022-01-30 - Continued AWS DVA training
                 - Pass 3: 35%
    2022-01-29 - Continued AWS DVA training
                 - Pass 2: DynamoDB, IAM, CloudFormation, SAM,
                           CI/CD, Code Commit|Build|Deploy|Pipeline,
                           Docker, Lambda, Step Functions
    2022-01-28 - Continued AWS DVA training
                 - Pass 2: X-Ray, ACM, KMS, Cognito, Parameter Store, Secrets Manager
    2022-01-27 - Continued AWS DVA training
                 - Pass 2: ECS, Fargate
    2022-01-26 - Continued AWS DVA training
                 - Pass 2: Elastic Beanstalk (Continued)
    2022-01-25 - Continued AWS DVA training
                 - Pass 2: Elastic Beanstalk
    2022-01-24 - Continued AWS DVA training
                 - Security and Encryption
                 - Other services
    2022-01-23 - Continued AWS DVA training
                 - Serverless: SAM
                 - Cloud Development Kit
                 - Cognito
                 - Step Functions and AppSync
                 - Advanced Identity
    2022-01-22 - Continued AWS DVA training
                 - Serverless: API Gateway
    2022-01-21 - Continued AWS DVA training
                 - Serverless: Dynamo DB (Continued)
    2022-01-20 - Continued AWS DVA training
                 - Serverless: Dynamo DB (Continued)
    2022-01-19 - Continued AWS DVA training
                 - Serverless: Dynamo DB
    2022-01-18 - Continued Apache Kafka Series - Learn Apache Kafka for Beginners
    2022-01-17 - Continued AWS DVA training
                 - Serverless: Lambda
    2022-01-16 - Continued AWS DVA training
                 - CloudFormation
                 - Monitoring and Audit
                 - Integration and Messaging
    2022-01-15 - Continued AWS DVA training
                 - CI/CD
    2022-01-14 - Continued AWS DVA training
                 - Elastic Beanstalk
    2022-01-13 - Apache Kafka Series - Learn Apache Kafka for Beginners
               - Continued AWS DVA training
                 - Advanced S3 and Athena
                 - CloudFront
                 - ECS, ECR and Fargate
    2022-01-12 - Continued AWS DVA training
                 - CLI, SDK, IAM Roles and Policies
    2022-01-11 - Started AWS DVA training
                 - First 11 fundamental sections
               - Continued reading the green book of algrithm.
    2022-01-10 - Pluralsight: Gradle Build Tool Fundamentals
    2022-01-09 - Reviewed AWS SAA training for areas to drill down.
                 - Disaster Recovery and Migration
                 - Other services
                 - WhitePapers and Architectures
               - Continued course: Spring Framework 5: Beginner to Guru
                 - SOLID Principals and Dependency Injection
    2022-01-08 - Reviewed AWS SAA training for areas to drill down.
                 - Security and Encryption
                 - Networking: VPC 
               - Continued course: Spring Framework 5: Beginner to Guru
                 - Dependency Injection (continued with Pet Clinic)
    2022-01-07 - Reviewed AWS SAA training for areas to drill down.
                 - IAM Advanced
    2022-01-06 - Reviewed AWS SAA training for areas to drill down.
                 - Databases
                 - Monitoring, Audit and Config
    2022-01-05 - Continued course: Spring Framework 5: Beginner to Guru
                 - Dependency Injection
               - Reviewed AWS SAA training for areas to drill down.
                 - SQS, SNS, Kinesis and Active MQ
                 - ECS, Fargate, ECR and EKS
                 - Serverless
    2022-01-04 - Continued course: Spring Framework 5: Beginner to Guru
                 - Relationships and H2
                 - MVC and Thymeleaf
               - Reviewed AWS SAA training for areas to drill down.
                 - Advanced S3 and Athena
                 - CloudFront and Global Accelerator
                 - Snow Family
                 - Storage Extras (FSx and Gateways)
    2022-01-03 - Started course: Spring Framework 5: Beginner to Guru
                 - Initializr
                 - JPA Entities, Spring Data Repositories, Data initialization
               - Continued reading the green book of algrithm.
               - Reviewed AWS SAA training for areas to drill down.
                 - Route 53
                 - S3
                 - SDK, IAM Roles and Policies
    2022-01-02 - Continued reading the green book of algrithm. 
               - Reviewed AWS SAA training for areas to drill down.
                 - ELB and ASG
                 - RDS, Aurora and ElastiCache
    2022-01-01 - Started reading the green book of algrithm.
               - Started reviewing AWS SAA training for areas to drill down.
                 - Global services
                 - IAM
                 - EC2
------------------------------------------------------------------------------------
    2021-12-31 - Created this web site's GitHub repository.
               - Set the daily S.M.A.R.T. exeuction schedules.
    2021-12-30 - Created this web site with the free Azure App Service.
               - Added the learning goals of 2022.
</pre>
</p>