@{
    ViewData["Title"] = "Log";
}
<p>
    <pre>
    2022-01-04 - Continued course: Spring Framework 5: Beginner to Guru
                 - Relationships and H2
                 - MVC and Thymeleaf
               - Continued reading the green book of algrithm.
               - Reviewed AWS SAA training for areas to drill down.
                 - Advanced S3 and Athena
                 - CloudFront and Global Accelerator
                 - Snow Family
                 - Storage Extras (FSx and Gateways)
    2022-01-03 - Started course: Spring Framework 5: Beginner to Guru
                 - Initializr
                 - JPA Entities, Spring Data Repositories, Data initialization
               - Continued reading the green book of algrithm.
               - Reviewed AWS SAA training for areas to drill down.
                 - Route 53
                 - S3
                 - SDK, IAM Roles and Policies
    2022-01-02 - Continued reading the green book of algrithm. 
               - Reviewed AWS SAA training for areas to drill down.
                 - ELB and ASG
                 - RDS, Aurora and ElastiCache
    2022-01-01 - Started reading the green book of algrithm.
               - Started reviewing AWS SAA training for areas to drill down.
                 - Global services
                 - IAM
                 - EC2
------------------------------------------------------------------------------------
    2021-12-31 - Created this web site's GitHub repository.
               - Set the daily S.M.A.R.T. exeuction schedules.
    2021-12-30 - Created this web site with the free Azure App Service.
               - Added the learning goals of 2022.
</pre>
</p>