@{
    ViewData["Title"] = "Log";
}
<p>
    <pre>
------------------------------------------------------------------------------------
    2022-01-01 -
------------------------------------------------------------------------------------
    2021-12-31 - Created this web site's GitHub repository.
               - Set the daily S.M.A.R.T. exeuction schedules.
    2021-12-30 - Created this web site with the free Azure App Service.
               - Added the learning goals of 2022.</pre>
</p>