@{
    ViewData["Title"] = "Log";
}
<p>
    <pre>
    2022-01-02 - Continued reading the green book of algrithm. 
               - Reviewed AWS SAA training for areas to drill down.
                 - ELB and ASG
                 - RDS, Aurora and ElastiCache
    2022-01-01 - Started reading the green book of algrithm.
               - Started reviewing AWS SAA training for areas to drill down.
                 - Global services
                 - IAM
                 - EC2
------------------------------------------------------------------------------------
    2021-12-31 - Created this web site's GitHub repository.
               - Set the daily S.M.A.R.T. exeuction schedules.
    2021-12-30 - Created this web site with the free Azure App Service.
               - Added the learning goals of 2022.</pre>
</p>