@{
    ViewData["Title"] = "Work From Home";
}
<div>
    <div>
        <a href="https://support.logi.com/hc/en-us/articles/360023188134-Logitech-Flow" target="_blank">Logitech Flow</a> is cool: 1 keyboard+mouse<br/>
        to move across and control 3 computers<br/>
        with cross computer copy/paste :-)
    </div>
    <p>&nbsp;</p>
    <p>
        <a href="/images/work-from-home-2022.jpg" target="_blank"><img class="thumbnail" height="100" width="300" src="/images/work-from-home-2022.jpg"/></a><br/>
        <a href="/images/work-laptop.jpg" target="_blank"><img class="thumbnail" height="100" width="100" src="/images/work-laptop.jpg"/></a>
        <a href="/images/main-pc.jpg" target="_blank"><img class="thumbnail" height="100" width="100" src="/images/main-pc.jpg"/></a>
        <a href="/images/mbp-2017.jpg" target="_blank"><img class="thumbnail" height="100" width="100" src="/images/mbp-2017.jpg"/></a>
    </p>
</div>
